/*
 * Main section
 */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #3c5a40;
    color: white;
    padding: 20px 10%;
    text-align: center;
}
header h1 {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}
section {
    margin-bottom: 40px;
}
h2 {
    color: #3c5a40;
}
a {
    color: #3c5a40;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-image: url('./stackoverflow_answer_score_classification/images/bullet_point.png');
    margin-left: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    flex-shrink: 0;
}
h2.sticky-header {
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    padding: 10px 0;
    z-index: 1000; /* Ensures it stays on top of other content */
    border-bottom: 2px solid #3c5a40; /* Optional styling for emphasis */
}

.content {
    padding: 10px;
    width: calc(100% - 300px); /* Adjust to occupy remaining space */
}

/*
 * Sidebar and Container
 */
.container {
    display: flex;
    flex: 1;
    padding: 0; /* Removed unnecessary padding */
    width: 100%; /* Ensure the container spans full width */
    height: 100%
}

.sidebar {
    width: 300px; /* Fixed width for sidebar */
    background-color: #f4f4f4;
    padding: 15px;
    border-right: 1px solid #2e4633; /* Slightly darker green for the border */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.sidebar h2 {
    font-size: 1.5em;
    margin-top: 0;
    color: #3c5a40;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li ul {
    padding-left: 0;
}

.sidebar a {
    color: #333;; /* Lighter greenish-white for links */
}

.sidebar a:hover {
    color: #3c5a40; /* Lighter green for hover effect */
    text-decoration: underline;
}
/*
 * Table
 */
.table {
    border-collapse: collapse;
    width: 50%;
    border: 1px solid green;
}

.header_row {
    background-color: rgba(60, 90, 64, 0.2);
}